In [94]:
import pandas as pd

In [95]:
from make_graphs import get_data

In [131]:
df_url='https://docs.google.com/spreadsheets/d/e/2PACX-1vT1E1Y9IohHUf_WI6bOaJ162ZnRIv39tJbVF8C7Ow0-wqN-DDxslgTfhsUwvQUqoXn-grW89r_BRIyw/pub?gid=0&single=true&output=csv'
# df=get_data(df_url, print_tail=False)
df = pd.read_csv(df_url,  names=['Seizure'])

In [132]:
df.tail()

                     Seizure
31  June 29, 2020 at 07:34AM
32  June 29, 2020 at 07:42PM
33  June 29, 2020 at 09:53PM
34  June 30, 2020 at 06:37AM
35  June 30, 2020 at 06:37AM

In [102]:
df.iloc[-1].name

datetime.datetime(2020, 7, 8, 15, 41, tzinfo=tzlocal())

In [153]:
times = df.Seizure.to_numpy()

In [113]:
import pytz

In [117]:
tz = pytz.timezone('Europe/London')

In [ ]:
numpy.datetime64(time).item().replace(tzinfo=tz).isoformat('T')

In [134]:
b = [np.datetime64(time).item().replace(tzinfo=tz).isoformat('T') for time in times]

AttributeError: 'int' object has no attribute 'replace'

In [137]:
from dateutil import parser

In [168]:
times = df.Seizure.to_numpy()

In [154]:
gmt_months = ['Ja', 'Fe', 'Ma']
times = [time+ '+00:00' for time in times if time[:2] in gmt_months]

In [169]:
gmt_months = ['Jan', 'Feb', 'Mar']
t1 = []
for time in times:
    if time[:3] in gmt_months:
        t1.append(time+' +00:00')
        continue
    t1.append(time+' +01:00')
times = t1

In [170]:
t1

['Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 01, 2020 at 00:00AM +00:00',
 'Jan 26, 2020 at 00:00AM +00:00',
 'Jan 27, 2020 at 00:00AM +00:00',
 'Feb 15, 2020 at 00:00AM +00:00',
 'Mar 23, 2020 at 00:00AM +00:00',
 'Mar 23, 2020 at 00:00AM +00:00',
 'Mar 23, 2020 at 00:00AM +00:00',
 'Apr 06, 2020 at 00:00AM +01:00',
 'Apr 23, 2020 at 00:00AM +01:00',
 'Apr 24, 2020 at 00:00AM +01:00',
 'Apr 24, 2020 at 00:00AM +01:00',
 'Apr 24, 2020 at 00:00AM +01:00',
 'Apr 24, 2020 at 00:00AM +01:00',
 'May 11, 2020 at 00:00AM +01:00',
 'May 11, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'May 30, 2020 at 00:00AM +01:00',
 'June 17, 2020 at 07:50PM +01:00',
 'June 29, 2020 at 02:04AM +01:00',
 'June 29, 2020 at 07:34AM +01:00',
 'June 29, 2020 at 07:42PM +01:00',
 'June 29, 2020 at 09:53PM +01:00',
 'June 30, 2020 at 06:37AM +01:00',
 'June 30, 2020 at 06:37AM +01:00']

In [171]:
times = [parser.parse(time) for time in times]

In [172]:
times

[datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 26, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 1, 27, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 2, 15, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 3, 23, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 3, 23, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 3, 23, 0, 0, tzinfo=tzutc()),
 datetime.datetime(2020, 4, 6, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 4, 23, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 4, 24, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 4, 24, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 4, 24, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 4, 24, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 11, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 11, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 5, 30, 0, 0, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 17, 19, 50, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 29, 2, 4, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 29, 7, 34, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 29, 19, 42, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 29, 21, 53, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 30, 6, 37, tzinfo=tzoffset(None, 3600)),
 datetime.datetime(2020, 6, 30, 6, 37, tzinfo=tzoffset(None, 3600))]

In [173]:
q= times[0]

In [174]:
q

datetime.datetime(2020, 1, 1, 0, 0, tzinfo=tzutc())

In [180]:
times = [time.strftime(r'%e %b %Y at %H:%M:%S %Z') for time in times]
times

[' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 ' 1 Jan 2020 at 00:00:00 UTC',
 '26 Jan 2020 at 00:00:00 UTC',
 '27 Jan 2020 at 00:00:00 UTC',
 '15 Feb 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 ' 6 Apr 2020 at 00:00:00 ',
 '23 Apr 2020 at 00:00:00 ',
 '24 Apr 2020 at 00:00:00 ',
 '24 Apr 2020 at 00:00:00 ',
 '24 Apr 2020 at 00:00:00 ',
 '24 Apr 2020 at 00:00:00 ',
 '11 May 2020 at 00:00:00 ',
 '11 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '30 May 2020 at 00:00:00 ',
 '17 Jun 2020 at 19:50:00 ',
 '29 Jun 2020 at 02:04:00 ',
 '29 Jun 2020 at 07:34:00 ',
 '29 Jun 2020 at 19:42:00 ',
 '29 Jun 2020 at 21:53:00 ',
 '30 Jun 2020 at 06:37:00 ',
 '30 Jun 2020 at 06:37:00 ']

In [201]:
t2 = []
for time in times:
    this_time = time
    if this_time[0]==' ':
        this_time = this_time[1:]
    if this_time[-1] == ' ':
        this_time = this_time + 'BST'
    t2.append(this_time)

In [202]:
t2

['1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '1 Jan 2020 at 00:00:00 UTC',
 '26 Jan 2020 at 00:00:00 UTC',
 '27 Jan 2020 at 00:00:00 UTC',
 '15 Feb 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 '23 Mar 2020 at 00:00:00 UTC',
 '6 Apr 2020 at 00:00:00 BST',
 '23 Apr 2020 at 00:00:00 BST',
 '24 Apr 2020 at 00:00:00 BST',
 '24 Apr 2020 at 00:00:00 BST',
 '24 Apr 2020 at 00:00:00 BST',
 '24 Apr 2020 at 00:00:00 BST',
 '11 May 2020 at 00:00:00 BST',
 '11 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '30 May 2020 at 00:00:00 BST',
 '17 Jun 2020 at 19:50:00 BST',
 '29 Jun 2020 at 02:04:00 BST',
 '29 Jun 2020 at 07:34:00 BST',
 '29 Jun 2020 at 19:42:00 BST',
 '29 Jun 2020 at 21:53:00 BST',
 '30 Jun 2020 at 06:37:00 BST',
 '30 Jun 2020 at 06:37:00 BST']